<div class="ui  vertical footer inverted segment">
    <div class="ui center aligned container">
        <div class="ui stackable grid">
            <div class="three wide column">
                <h4 class="ui footer-item">Community</h4>
                <div class="ui link list">
                    <a class="footer-item" href="https://www.transifex.com/organization/semantic-org/" target="_blank">Help Translate</a>
                    <a class="footer-item" href="https://github.com/Semantic-Org/Semantic-UI/issues" target="_blank">Submit an Issue</a>
                    <a class="footer-item" href="https://gitter.im/Semantic-Org/Semantic-UI" target="_blank">Join our Chat</a>
                    <a class="footer-item" href="/cla.html" target="_blank">CLA</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui header">Network</h4>
                <div class="ui link list">
                    <a class="footer-item" href="https://github.com/Semantic-Org/Semantic-UI" target="_blank">GitHub Repo</a>
                    <a class="footer-item" href="http://forums.semantic-ui.com" target="_blank">User Forums</a>
                    <a class="footer-item" href="http://1.semantic-ui.com">1.x Docs</a>
                    <a class="footer-item" href="http://legacy.semantic-ui.com">0.x Docs</a>
                </div>
            </div>
            <div class="seven wide right floated column">
                <h4 class="ui header">Help Preserve This Project</h4>
                <p> Support for the continued development of Semantic UI comes directly from the community.</p>
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                    <input type="hidden" name="hosted_button_id" value="7ZAF2Q8DBZAQL">
                    <button type="submit" class="ui large teal button">Donate Today</button>
                </form>
            </div>
        </div>
        <div class="ui section divider"></div>
        <img src="/images/logo.png" class="ui centered mini image">
        <div class="ui horizontal small divided link list">
            <a class="footer-item" href="http://semantic-ui.mit-license.org/" target="_blank">Free & Open Source (MIT)</a>
        </div>
    </div>
</div>

</body>

</html>