<div class="navbar navbar-inverse navbar-fixed-top opaque-navbar ">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navMain">
                <span class="glyphicon glyphicon-chevron-right" style="color:white;"></span>

            </button>
            <a class="navbar-brand" href="#">JohaiK</a>
        </div>
        <div class="collapse navbar-collapse" id="navMain">
            <ul class="nav navbar-nav pull-right">
                <li class="menu-itm"><a href="#">Home</a></li>
                <li class="menu-itm"><a href="#">About</a></li>
                <li class="menu-itm"><a href="#">Resume</a></li>
                <li class="menu-itm"><a href="#">Contact Me</a></li>
            </ul>
        </div>
    </div>
</div>

<section class="banner firstBan">
    <div class="container ">
        <div class="row" style="height:350px;">
            <h1 class="h1-front">Transparent Background Example</h1>
        </div>
    </div>
</section>


<div class="container">
    <div class="row">
        <div class="cold-md-12 mainBody" style="height:1000px;">
            <h2>Page Content</h2>
            <p>This is an example of a navbar that is initially opaque, then turns into a solid background when user scrolls
                down the page.</p>
            <button class="ui button">Follow</button>
        </div>
    </div>
</div>