<% include partials/header %>
<% include partials/navbar %>
<div class="container">
    <div class="row" style="height:1000px;">
        <div class="cold-md-8 mainBody">
            <h2>Page Content</h2>
            <p>This is an example of a navbar that is initially opaque, then turns into a solid background when user scrolls
                down the page.</p>
            <button class="ui button">Follow</button>
        </div>
    </div>
</div>
<% include partials/footer %>